*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $body-font;
    font-size: 100%;
    background-color: $background-color;
    color: $text-color;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
.clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
    }
}

pre {
    @include shadow(2);
    overflow: auto;
    padding: 10px;
    background-color: $shadow-color;
    color: #fff;
    border-radius: 5px;
    transition: box-shadow $short-transition, top $short-transition, margin $short-transition;
    @include multi-mq(desktop, desktop-large) {
        &:hover {
            margin-left: calc(-50% - 0.75rem);
            margin-right: calc(-50% - 0.75rem);
        }
    }
    code {
    }
}

@for $i from 1 through 6 {
    h#{7 - $i} {
        font-weight: 900;
        text-align: center;
        margin: 40px 0;
        font-family: $header-font;
        font-size: #{((1 + $i) / 2)}rem;
    }
}

.center {
    text-align: center;
    &--block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.row {
    @extend .clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .col {
        float: left;
        padding: 0 0.75rem;
        @for $num from 1 through 12 {
            &.s#{$num} {
                width: (100% * ($num/12));
                margin-left: auto;
                left: auto;
                right: auto;
            }
            &.so#{$num} {
                margin-left: (100% * ($num/12));
            }
        }
        @media screen and (min-width: $mobile-max - 1) {
            @for $num from 1 through 12 {
                &.m#{$num} {
                    width: (100% * ($num/12));
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }
            }
            @for $num from 1 through 12 {
                &.mo#{$num} {
                    margin-left: (100% * ($num/12));
                }
            }
        }
        @media screen and (min-width: $tablet-max - 1) {
            @for $num from 1 through 12 {
                &.l#{$num} {
                    width: (100% * ($num/12));
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }
            }
            @for $num from 1 through 12 {
                &.lo#{$num} {
                    margin-left: (100% * ($num/12));
                }
            }
        }
        @media screen and (min-width: $desktop-max - 1) {
            @for $num from 1 through 12 {
                &.xl#{$num} {
                    width: (100% * ($num/12));
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }
            }
            @for $num from 1 through 12 {
                &.xlo#{$num} {
                    margin-left: (100% * ($num/12));
                }
            }
        }
    }
}
.container {
    margin: 0 auto;
    max-width: $container-max-width;
    width: 100%;
    .row {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
}

.hoverable {
    @include hoverable;
}

.shadow {
    @for $num from 1 through 5 {
        &-#{$num} {
            @include shadow($num);
        }
    }
}

p {
    padding: 0px 0px 20px;
    text-indent: 50px;
}

strong {
    font-weight: 600;
}

input,
button,
textarea,
select {
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
    background-color: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select,
textarea {
    border-bottom: 1px solid $input-border-color;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 0 0 5px;
    border-radius: 0;
    background-color: transparent;
    font-family: $body-font;
    font-size: 1rem;
    transition: border-bottom $short-transition;
    &.empty {
        border-color: #ccc;
    }
}

label {
    font-weight: 600;
    font-size: 1rem;
    color: $input-label-color;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: color $short-transition, bottom $short-transition;
    &.empty {
        bottom: -30px;
        color: #ccc;
    }
}

.button {
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    color: #000;
    user-select: none;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        color: #000;
    }

    &.primary {
        background-color: $primary-color;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &.cancel {
        background-color: $shadow-color;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    &.flat {
        @include hoverable(0, 2);
    }
    &.raised {
        @include hoverable(2, 3);
    }
    &.round {
        border-radius: 100%;
    }
    &[disabled="true"],
    &[disabled] {
        @include hoverable(0, 0);
        cursor: default;
        background-color: grey !important;
        color: #fff !important;
    }
}

.noscroll {
    overflow: hidden;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 5px;
}

.card {
    @include hoverable(2);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px;
    background-color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    &__text {
        @include shadow(2);
        position: absolute;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity $short-transition, visibility $short-transition;
        background-color: $shadow-color;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        // white-space: nowrap;
        display: inline-block;
    }
    &--top {
        .tooltip__text {
            top: 0;
            left: 0;
            transform: translate(0, calc(-100% - 5px));
        }
    }
    &--right {
        .tooltip__text {
            top: 0;
            left: 100%;
            transform: translate(5px, 0);
        }
    }
    &--bottom {
        .tooltip__text {
            top: 100%;
            left: 0px;
            transform: translate(0, 5px);
        }
    }
    &--left {
        .tooltip__text {
            top: 0px;
            left: 0;
            transform: translate(calc(-100% - 5px), 0);
        }
    }
    &--active {
        .tooltip__text {
            opacity: 1;
            visibility: visible;
        }
    }
}


#app {
    @extend .container;
    @include shadow(5);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 100;
    main,
    footer {
        padding: 10px;
    }
    header {
        .nav {
            @extend .container;
            @include shadow(3);
            background-color: $primary-color;
            color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: $nav-height;
            z-index: 2000;
            a {
                line-height: $nav-height;
                display: block;
                height: 60px;
                padding: 0 10px;
                color: #fff;
                float: left;
                transition: background-color $short-transition;
                &:not(.brand) {
                    &:hover,
                    &.router-link-active {
                        background-color: $secondary-color;
                    }
                }
            }
            .dropdown {
                @include hoverable(0, 0);
                padding: 0;
                line-height: $nav-height;
                height: $nav-height;
                border-radius: 0;
                border-bottom: 0;
                display: block;
                float: left;
                transition: background-color $short-transition;
                .ripple > div {
                    padding: 0 10px;
                    pointer-events: none;
                    &.router-link-active {
                        background-color: $secondary-color;
                    }
                }
                &--open,
                &:hover {
                    background-color: $secondary-color;
                }
                &__menu {
                    @include shadow(0);
                    background-color: transparent;
                    top: 100%;
                    border-top: 1px solid #fff;
                    a {
                        background-color: $shadow-color;
                        float: none;
                        display: block;

                        &:hover,
                        &.router-link-active {
                            background-color: $primary-color;
                        }
                    }
                }
            }
            .brand {
                font-weight: 900;
                font-size: 2rem;
            }
            &--fixed {
                height: $nav-height;
            }
            @include multi-mq(mobile, tablet) {
                height: $nav-height * 2;
                .brand {
                    float: none;
                    text-align: center;
                }
                &--fixed {
                    height: $nav-height * 2;
                }
            }
        }
    }
    main {
        flex: 1 0 auto;
        background-color: #fff;
    }
    footer {
        background-color: $shadow-color;
        color: #fff;
        text-align: center;
        img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }
}
