@mixin mobile {
    @media screen and (max-width: $mobile-max) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: $mobile-max + 1) and (max-width: $tablet-max) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $tablet-max + 1) and (max-width: $desktop-max) {
        @content;
    }
}

@mixin desktop-large {
    @media screen and (min-width: $desktop-max + 1) {
        @content;
    }
}

@mixin multi-mq($mqs...) {
    @each $mq in $mqs {
        @if $mq == 'mobile' {
            @include mobile {
                @content;
            }
        }
        @if $mq == 'tablet' {
            @include tablet {
                @content;
            }
        }
        @if $mq == 'desktop' {
            @include desktop {
                @content;
            }
        }
        @if $mq == 'desktop-large' {
            @include desktop-large {
                @content;
            }
        }
    }
}

@mixin css-triangle($direction, $size: 5, $color: #000) {
    $direction_map: (
        up: (bottom, left, right),
        left: (right, top, bottom),
        right: (left, top, bottom),
        down: (top, left, right)
    );
    width: 0px;
    height: 0px;
    border-#{nth(map-get($direction_map, $direction), 3)}: #{$size}px solid transparent;
    border-#{nth(map-get($direction_map, $direction), 2)}: #{$size}px solid transparent;
    border-#{nth(map-get($direction_map, $direction), 1)}: #{$size}px solid $color;
}

@mixin shadow($level: 1) {
    $shadow: none;
    @if ($level == 0) {
        $shadow: none;
    }
    @else if ($level == 1) {
        $shadow: 0 1px 3px rgba($shadow-color, 0.12), 0 1px 2px rgba($shadow-color, 0.24);
    }
    @else if ($level == 2) {
        $shadow: 0 3px 6px rgba($shadow-color, 0.16), 0 3px 6px rgba($shadow-color, 0.23);
    }
    @else if ($level == 3) {
        $shadow: 0 10px 20px rgba($shadow-color, 0.19), 0 6px 6px rgba($shadow-color, 0.23);
    }
    @else if ($level == 4) {
        $shadow: 0 14px 28px rgba($shadow-color, 0.25), 0 10px 10px rgba($shadow-color, 0.22);
    }
    @else if ($level == 5) {
        $shadow: 0 19px 38px rgba($shadow-color, 0.30), 0 15px 12px rgba($shadow-color, 0.22);
    }
    @else {
        $shadow: 0 1px 3px rgba($shadow-color, 0.12), 0 1px 2px rgba($shadow-color, 0.24);
    }
    box-shadow: $shadow;
}

@mixin hoverable($n: 2, $h: 3, $top: 0, $position: relative) {
    @include shadow($n);
    position: $position;
    top: #{$top}px;
    transition: top $short-transition, box-shadow $short-transition;
    &:hover {
        @include shadow($h);
        top: #{($top - $h)}px;
    }
}
