$primary-color: #F17269;
$secondary-color: #CF6163;
$shadow-color: #5B5C60;
$grey-color: #C4C6C9;
$text-color: $shadow-color;
$link-color: $primary-color;
$link-hover-color: $secondary-color;
$background-color: #fff;
$short-transition: 250ms;
$long-transition: 500ms;
$header-font: sans-serif;
$body-font: sans-serif;
$nav-height: 60px;
$line-height: 1.618;
$container-max-width: 2048px;
$letter-spacing: normal;
$mobile-max: 480px;
$tablet-max: 1024px;
$desktop-max: 1600px;
$toggle-color: $primary-color;
$toggle-disabled-color: $grey-color;
$input-border-color: $shadow-color;
$input-label-color: $shadow-color;
$toggle-transition: $short-transition;
