.dropdown {
    @include hoverable(2, 4);
    padding: 20px;
    display: inline-block;
    position: relative;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom:  1px solid transparent;
    cursor: pointer;
    text-align: left;
    z-index: 1000;
    transition: border-color $short-transition, border-radius $short-transition, box-shadow $short-transition, top $short-transition, background-color $short-transition, color $short-transition;
    &__menu {
        position: absolute;
        top: calc(100% + 1px);
        width: 100%;
        left: 0;
        visibility: visible;
        overflow: hidden;
        background-color: $shadow-color;
        transition: visibility $short-transition, height $short-transition, border-radius $short-transition, box-shadow $short-transition;

        a {
            padding: 20px;
            display: block;
            color: #fff;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
    &--closed {
        background-color: $primary-color;
        .dropdown__menu {
            height: 0px !important;
            visibility: hidden;
        }
    }
    &:hover,
    &--open {
        background-color: $shadow-color;
    }
    &--open {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-color: #fff;
        .dropdown__menu {
            @include shadow(4);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
