.ripple {
    &__svg {
        &__circle {
            &.primary {
                fill: $primary-color;
            }
            &.secondary {
                fill: $secondary-color;
            }
            &.red {
                fill: red;
            }
        }
    }
}
