.scroll-to-top {
    @include hoverable(3, 4, $bottom: 20, $position: fixed);
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: $shadow-color;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+ICAgIDxwYXRoIGQ9Ik00IDEybDEuNDEgMS40MUwxMSA3LjgzVjIwaDJWNy44M2w1LjU4IDUuNTlMMjAgMTJsLTgtOC04IDh6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    transition: opacity $short-transition, visibility $short-transition, background-color $short-transition, bottom $short-transition, box-shadow $short-transition;

    &:hover {
        background-color: $primary-color;
    }

    &--hidden {
        visibility: hidden;
        opacity: 0;
    }
    &--visible {
        visibility: visible;
        opacity: 1;
    }
}
